{{ $c := "c-gallery" }}

<div class="{{ $c }}__inner-wrapper
			{{ if eq .content_arrangement "Right" }}
			{{ $c }}__inner-wrapper--right
			{{ end }}
			component">
    {{ $item_number := .gallery_items | len }}
    {{ if .details.show_details }}
		<div class="{{ $c }}__details
					{{ if lt $item_number 3 }}
					{{ $c }}__details--with-details-stacked
					{{ end }}">
			<h3>{{ .details.heading }}</h3>
			<p>{{ .details.subheading }}</p>
			{{ if .details.button }}
                {{ partial "bookshop" (slice "button" .details.button) }}
			{{ end }}
		</div>

    {{ end }}

	<div class="{{ $c }}__items
                {{ if .details.show_details }}
				{{ $c }}__items--with-details
                    {{ if lt $item_number 3 }}
					{{ $c }}__items--with-details-stacked
					{{ end }}
				{{ end }}
                {{ if .image_borders }}
				{{ $c }}__items--bordered
				{{ end }}
                {{ if not .details.show_details }}
					{{ $c }}__items--full-size
				{{ end }}">

            {{ range .gallery_items }}
            	{{ if .link_url }}
					<a class="{{ $c }}__item {{ $c }}__item--link"
					href="{{ .link_url }}">
						<div class="{{ $c }}__spacer"></div>
						<img src="{{ .image }}" alt="{{ .image_title }}" />
						<div class="{{ $c }}__item-details">
							<p class="{{ $c }}__title">{{ .image_title }}</p>
							<p class="{{ $c }}__caption">{{ .image_caption }}</p>
						</div>
					</a>
				{{ else }}
					<div class="{{ $c }}__item">
						<div class="{{ $c }}__spacer"></div>
						<img src="{{ .image }}" alt="{{ .image_title }}" />
						<div class="{{ $c }}__item-details">
							<p class="{{ $c }}__title">{{ .image_title }}</p>
							<p class="{{ $c }}__caption">{{ .image_caption }}</p>
						</div>
					</div>
				{{ end }}
			{{ end }}
	</div>    
</div>