{{ $c := "c-posts-list" }}
{{ $tag := .Title }}

{{ if .show_posts }}
	<div class="{{ $c }}__inner-wrapper">
		{{ if .heading }}
			<h2 class="{{ $c }}__heading">{{ .heading }}</h2>
		{{ end }}
		{{ if .content_text }}
			<p class="{{ $c }}__content">{{ .content_text }}</p>
		{{ end }}

		{{ range where site.RegularPages "Section" "blog"}}
		{{ $post := slice }}
		{{ $tags := slice }}

			{{ $post = $post | append ( dict 
				"title" .Params.title
				"categories" .Params.categories
				"preview_image" .Params.SEO_options.image
				"author" .Params.author_staff_member
				"date" .Date
				"summary" .Summary
				"url" .RelPermalink
				
			)}}
			{{ range $post }}
				{{ partial "bookshop" (slice "post-preview" (dict "nested" true "show_details" true "post" $post )) }}
			{{ end }}

		{{ end }}
	</div>

{{ end }}
	