
{{ $c := "c-post-navigation" }}

<div class="{{ $c }}__inner-wrapper">

	{{ with .post.Page.PrevInSection }}
		<a class="{{ $c }}__option {{ $c }}__option--prev" href="{{ .RelPermalink }}">&laquo; {{ .Title }}</a>
	{{ end }}
	{{ with .post.Page.NextInSection }}
		<a class="{{ $c }}__option {{ $c }}__option--next" href="{{ .RelPermalink }}">{{ .Title }} &raquo;</a>
	{{ end }}

 <div class="{{ $c }}__next-preview">
    <h2 class="{{ $c }}__heading">Keep Reading</h2>
		{{ $post := slice }}
		{{ $tags := slice }}
    {{ if .post.Page.NextInSection }}
		{{ $post = $post | append ( dict 
			"title" .post.Page.NextInSection.Params.title
			"categories" .post.Page.NextInSection.Params.categories
			"preview_image" .post.Page.NextInSection.Params.SEO_options.image
			"author" .post.Page.NextInSection.Params.author_staff_member
			"date" .post.Page.NextInSection.Date
			"summary" .post.Page.NextInSection.Summary
			"url" .post.Page.NextInSection.RelPermalink
		)}} 
		{{ partial "bookshop" (slice "structures/post-preview" (dict "nested" true "show_details" false "post"  $post )) }}

	{{ else }}
			{{ $post = $post | append ( dict 
				"title" .post.Page.PrevInSection.Params.title
				"categories" .post.Page.PrevInSection.Params.categories
				"preview_image" .post.Page.PrevInSection.Params.SEO_options.image
				"author" .post.Page.PrevInSection.Params.author_staff_member
				"date" .post.Page.PrevInSection.Date
				"summary" .post.Page.PrevInSection.Summary
				"url" .post.Page.PrevInSection.RelPermalink
			)}} 
			{{ partial "bookshop" (slice "structures/post-preview" (dict "nested" true "show_details" false "post"  $post )) }}
	{{ end }}
</div>