{{ $c := "c-button" }}

{{/* The variable c is used for nested elements. This is to ensure
the parent component's class variable isn't overridden for any
items below */}}
{{/*  
{{ if .submit }}

    <h1>hello</h1>

   {{ $label := .label }}
    {{ if not $label }}
        {{ $label = "Send Message" }}
    {{ end }} 
    
    <div class="{{ $c }} {{ $c }}--{{ .variant | urlize | default: 'filled' }}">
        <input type="submit" value="{{ $label }}" class="{{ $c }}__label">
    </div>  
    
{{ else }}
    <h2>hello</h2>
     <a 
        class="{{ $c }} {{ $c }}--{{ .variant | urlize | default: 'filled' }}"
        href="{{ .link_url }}"
        {{ if .open_in_new_tab }}
            target="_blank"
        {{ end }}>
        <span class="{{ $c }}__label">{{ .label }}</span>
    </a>
{{ end }}  */}}